<h2>Grupo de trabajo</h2>

<app-input-group>
  @for (group of groups(); track group.id) {
    <button type="button" class="group-row" (click)="select(group)">
      <app-color-icon [icon]="group.icon" [color]="group.color" [size]="40" />
      <span class="group-row__name">{{ group.name }}</span>
      @if (group.id === activeGroupId()) {
        <app-icon class="group-row__check" name="check" />
      }
    </button>
  } @empty {
    <p class="group-empty">No tienes grupos activos.</p>
  }
</app-input-group>

<button type="button" class="manage-link" (click)="manageGroups()">
  <app-icon name="settings" />
  <span>Gestionar grupos</span>
</button>
