@for (group of groups(); track group.key) {
  <section class="transaction-day">
    <header class="transaction-day__header">
      <span class="transaction-day__label">{{ group.label }}</span>
      <span class="transaction-day__date">{{ group.date }}</span>
    </header>

    <div class="transaction-day__items">
      @for (transaction of group.transactions; track transaction.id) {
        <app-transaction-card
          [transaction]="transaction"
          [categories]="categories()"
          (rowClick)="rowClick.emit($event)"
          (deleteClick)="deleteClick.emit($event)"
        />
      }
    </div>
  </section>
}
