<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Categoria</th>
    </tr>
  </thead>
  <tbody>
    @for (transaction of transactions(); track transaction.id) {
      <tr (click)="rowClick.emit(transaction)">
        <td>{{ transaction.amount | centsToEuros }}</td>
        <td>{{ transaction.type | transactionTypeLabel }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.category_id | categoryName: categories() }}</td>
        <td>
          <button type="button" (click)="$event.stopPropagation(); deleteClick.emit(transaction)">
            Eliminar
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
