<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="head-form">
    <h2>Editar cuenta</h2>
    <app-switch formControlName="is_active" labelPosition="before">{{
      form.controls.is_active.value ? 'Activa' : 'Archivada'
    }}</app-switch>
  </div>
  <app-input-group>
    <app-text-input
      label="Nombre"
      formControlName="name"
      [error]="
        form.controls.name.invalid &&
        (form.controls.name.touched || form.controls.name.hasError('server'))
          ? (form.controls.name.getError('server') ?? 'El nombre es obligatorio.')
          : null
      "
    />

    <app-select label="Tipo" [options]="accountTypeOptions" formControlName="type" />

    <app-color-picker [selected]="form.controls.color.value" (colorChange)="selectColor($event)" />

    <app-icon-picker [selected]="form.controls.icon.value" (iconChange)="selectIcon($event)" />
  </app-input-group>
  <p class="form-error">{{ formError() }}</p>

  <button appButton variant="filled" type="submit" [disabled]="submitting()">
    @if (submitting()) {
      <app-loader diameter="20" />
    } @else {
      Guardar
    }
  </button>
</form>
