<mat-form-field appearance="outline">
  <mat-label>Color</mat-label>
  <mat-select [value]="selected()" (selectionChange)="colorChange.emit($event.value)">
    <mat-select-trigger>
      @if (selected(); as color) {
        <span class="color-option">
          <span class="color-swatch" [style.background-color]="color"></span>
          {{ labels[color] }}
        </span>
      }
    </mat-select-trigger>
    @for (color of colors; track color) {
      <mat-option [value]="color">
        <span class="color-option">
          <span class="color-swatch" [style.background-color]="color"></span>
          {{ labels[color] }}
        </span>
      </mat-option>
    }
  </mat-select>
</mat-form-field>
