<h2>Crear cuenta</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grouped-card">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="type">
        @for (type of accountTypes; track type) {
          <mat-option [value]="type">{{ type | accountTypeLabel }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Saldo actual</mat-label>
      <input matInput type="number" step="0.01" formControlName="opening_balance" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Moneda</mat-label>
      <input matInput type="text" formControlName="currency" maxlength="3" />
    </mat-form-field>

    <app-color-picker [selected]="form.controls.color.value" (colorChange)="selectColor($event)" />

    <app-icon-picker [selected]="form.controls.icon.value" (iconChange)="selectIcon($event)" />
  </div>

  <button matButton="filled" type="submit">Guardar</button>
</form>
