:host {
  display: block;
}

mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.account-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;

  .account-name {
    font: var(--mat-sys-title-medium);
  }
}
