<mat-card appearance="outlined" (click)="viewClick.emit(account())">
  <app-color-icon [icon]="account().icon" [color]="account().color" [size]="48" />

  <div class="account-info">
    <span class="account-name">{{ account().name }}</span>
    <span class="account-balance">{{ account().balance | centsToEuros: account().currency }}</span>
  </div>

  @if (canManage()) {
    <button matIconButton (click)="$event.stopPropagation(); editClick.emit(account())">
      <mat-icon>edit</mat-icon>
    </button>
  }
  <button
    matIconButton
    [attr.aria-label]="'Ver análisis de ' + account().name"
    (click)="showAnalysis($event)"
  >
    <mat-icon>query_stats</mat-icon>
  </button>
</mat-card>
