<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="head-form">
    <h2>Editar grupo</h2>
    <mat-slide-toggle formControlName="is_active" labelPosition="before">{{
      form.controls.is_active.value ? 'Activo' : 'Archivado'
    }}</mat-slide-toggle>
  </div>
  <div class="grouped-card">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error>{{
        form.controls.name.getError('server') ?? 'El nombre es obligatorio.'
      }}</mat-error>
    </mat-form-field>

    <app-color-picker [selected]="form.controls.color.value" (colorChange)="selectColor($event)" />

    <app-icon-picker [selected]="form.controls.icon.value" (iconChange)="selectIcon($event)" />
  </div>
  <p class="form-error">{{ formError() }}</p>

  <button matButton="filled" type="submit" [disabled]="submitting()">
    @if (submitting()) {
      <mat-spinner diameter="20" />
    } @else {
      Guardar
    }
  </button>
</form>
