<mat-form-field>
  <mat-label>Icono</mat-label>
  <mat-select [value]="selected()" (selectionChange)="iconChange.emit($event.value)">
    <mat-select-trigger>
      @if (selected(); as icon) {
        <app-icon-mark [icon]="icon" />
        {{ labels[icon] }}
      }
    </mat-select-trigger>
    @for (group of groups; track group.label) {
      <mat-optgroup [label]="group.label">
        @for (icon of group.icons; track icon.name) {
          <mat-option [value]="icon.name">
            <app-icon-mark [icon]="icon.name" />
            {{ icon.label }}
          </mat-option>
        }
      </mat-optgroup>
    }
  </mat-select>
</mat-form-field>
